@import './../node_modules/bulma/css/bulma.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e5e5e5;
  min-height: 860px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: center;
}

.navbar-menu.column {
  display: flex;
}

a.navbar-item {
  color: black;
  padding: 0.3rem 0.75rem;
  border-radius: 6px;
  margin: 0 5px;
}

a.navbar-item:hover,
a.navbar-item.is-active {
  color: black;
  background: rgba(7, 100, 159, 0.1) !important;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background: white;
}

.login .box {
  width: 100%;
  max-width: 450px;
}

section.section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1.5rem;
}

.modal-card-head {
  border-bottom: none;
  padding: 20px 20px 0;
}

.modal-card-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal-card-foot {
  border-top: none;
}

.modal-card-title {
  margin-bottom: 0 !important;
}

.modal-card-head,
.modal-card-foot {
  background: white;
}

.box.table-box,
.box.menu.column {
  box-shadow: none;
}

.box.menu.column {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.box.table-box {
  margin-top: 20px;
}

.table th,
.table td {
  border: none;
  vertical-align: middle;
}

.table thead td,
.table thead th {
  border-bottom: 1px solid #dbdbdb;
}

.menu-list li ul {
  border: none;
  padding: 0;
}

.menu-label:not(:last-child) {
  margin: 1em;
  color: black;
}

.buttons.is-full .button {
  width: calc(50% - 0.5rem);
}

.buttons .button {
  margin-bottom: 0;
}

.navbar .container {
  max-width: 1440px !important;
  padding: 0 1.5rem;
}

.logo-container,
.logo-container a {
  display: flex;
  align-items: center;
}

.pagination a {
  background: white;
}

.dropdown p {
  cursor: pointer;
}

p.dropdown-item:hover {
  background-color: #f5f5f5;
  color: #0a0a0a;
}

td.list-dropdown {
  display: flex;
  justify-content: flex-end;
}

.list-head {
  display: flex;
  justify-content: space-between;
}

.list-dropdown button {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.pagination-link:focus,
.pagination-next:focus,
.pagination-previous:focus {
  border-color: #dbdbdb;
}

.page-item.active a {
  background: rgba(7, 100, 159, 1);
  color: white;
}

.details-info {
  margin: 1.5rem 0;
}

.details-info .title {
  margin: 0;
}

.tabs {
  background: white;
}

.list-head {
  margin-bottom: 20px;
  margin-top: -30px;
}

button.list-add {
  display: flex;
  margin-left: auto;
}

.filters {
  flex: 0 0 20%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
}

.filters-section p {
  margin: 15px 0 5px;
}

li.panel-block label {
  flex: 1;
  font-weight: normal;
  cursor: pointer;
}

li.panel-block .control {
  flex: 0;
}

li.panel-block,
li.panel-block:not(:last-child),
li.panel-tabs:not(:last-child) {
  border: none;
}

li.panel-block:hover {
  border-radius: 6px;
  background-color: #fafafa;
}

/* STYLE TABLE */
section.section.columns {
  height: 100vh !important;
}

.ant-picker-header button {
  color: black;
}

.ant-picker-header-super-prev-btn,
.ant-picker-header-super-next-btn,
.ant-picker-cell.ant-picker-cell-week,
th[aria-label='empty cell'] {
  display: none;
}

.ant-picker-header-prev-btn {
  order: 2;
}

.ant-picker-header-view {
  order: 1;
}

.ant-picker-header-next-btn {
  order: 3;
}

.ant-picker-header-view {
  text-align: left;
}

.ant-picker-panel-container {
  border-radius: 8px;
}

.ant-picker-body {
  padding: 18px 26px;
}

.ant-picker-header {
  padding: 10px 18px 0;
  border-bottom: none;
}

.ant-picker-cell-inner {
  font-size: 12px;
  font-weight: 600;
  color: black;
}

.ant-picker-cell,
.ant-picker-cell-week,
.ant-picker-cell-inner,
.ant-picker-content th {
  text-align: center !important;
}

.ant-picker-week-panel-row-selected td,
.ant-picker-week-panel-row-selected:hover td {
  background-color: #cddff2;
}

.ant-picker-week-panel-row-selected td:nth-child(2),
.ant-picker-week-panel-row-selected:hover td:nth-child(2),
.ant-picker-week-panel-row td:nth-child(2),
.ant-picker-week-panel-row:hover td:nth-child(2) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.ant-picker-week-panel-row-selected td:last-child,
.ant-picker-week-panel-row-selected:hover td:last-child,
.ant-picker-week-panel-row td:last-child,
.ant-picker-week-panel-row:hover td:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.ant-picker-week-panel-row-selected td .ant-picker-cell-inner,
.ant-picker-week-panel-row-selected:hover td .ant-picker-cell-inner {
  color: black;
  font-weight: bold;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: black;
}

.ant-picker-cell .ant-picker-cell-in-view .ant-picker-cell-today .ant-picker-cell-inner {
  border: none;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: none;
}

.ant-picker {
  visibility: hidden;
}

.ant-picker-panel-container {
  box-shadow: none;
  transform: translateY(-4px);
}

.ant-picker-panel {
  border: none;
}

.planningWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.DatePickerWrapper {
  margin-right: 15px;
  min-width: 280px;
  height: 300px;
}

.DatePicker {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
}

.initials {
  position: relative;
}

.initialsItem {
  position: absolute !important;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 30px;
}

.initials p {
  white-space: nowrap;
  letter-spacing: -2px;
  display: inline;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}




.Loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
 * Default width: 50px */
.svgIcon {
  width: 80px;
}

.svgIcon .body {
  -webkit-animation: shake 0.2s ease-in-out infinite alternate;
  animation: shake 0.2s ease-in-out infinite alternate;
}

.svgIcon .line {
  transform-origin: center right;
  stroke-dasharray: 22;
  -webkit-animation: line 0.8s ease-in-out infinite;
  animation: line 0.8s ease-in-out infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.svgIcon .line.first {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.svgIcon .line.second {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.svgIcon .line.third {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}


@-webkit-keyframes shake {
  0% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(3%);
  }
}


@keyframes shake {
  0% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(3%);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dashoffset: 22;
  }

  25% {
    stroke-dashoffset: 22;
  }

  50% {
    stroke-dashoffset: 0;
  }

  51% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: -22;
  }

  100% {
    stroke-dashoffset: -22;
  }
}

@keyframes line {
  0% {
    stroke-dashoffset: 22;
  }

  25% {
    stroke-dashoffset: 22;
  }

  50% {
    stroke-dashoffset: 0;
  }

  51% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: -22;
  }

  100% {
    stroke-dashoffset: -22;
  }
}
